<mat-card>
  <h1 class="h1 text-center">Lista de Etnias</h1>
</mat-card>



<div >
  <div >
    <div class="row d-flex p-2" style="margin:1em;">
      <div class="p-2 d-inline">
        <mat-form-field class="busqueda">
          <mat-label>Búsqueda</mat-label>
          <input class="custom-input" (keyup)="applyFilter($event)" matInput placeholder="Buscar" #input>
        </mat-form-field>
      </div>
      <div id="btnn" class="p-2 mt-2">
        <button id="btn-agregar" class="btn btn-success " (click)="addEdit(0)" >Agregar<mat-icon aria-hidden="false"
            aria-label="Example home icon" fontIcon="add_circle"></mat-icon></button>
      </div>
    </div>


    <div class="card" style="overflow-x:auto; margin-left: 7px; margin-right: 7px;">



<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.idEtnia}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="condicion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Etnia</th>
      <td mat-cell *matCellDef="let row"> {{row.nombreEtnia}} </td>
    </ng-container>

    <!-- Fruit Column -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
      <td mat-cell *matCellDef="let row">
        <mat-slide-toggle color="primary" checked="{{row.estado==1?'true':'false'}}"
        (change)="$event.checked?actualizarEstado(row.idEtnia,1):actualizarEstado(row.idEtnia,0)">
        {{row.estado==1?'Activo':'Inactivo'}}
    </mat-slide-toggle>
  </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar </th>
      <td mat-cell *matCellDef="let row"> <a class="btn" (click)="addEdit(row.idEtnia)"  ><mat-icon class="mat-18" fontIcon="edit" style="color: #00C8AD;"></mat-icon></a> </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
      <td mat-cell *matCellDef="let row"> <a class="btn" (click)="borrar(row.idEtnia)"><mat-icon class="mat-18" fontIcon="delete" style="color: #F42D11;"  ></mat-icon></a></td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="background-color: #0A8CB9;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

